# DS CHALLENGE

## EXERCICE 2

### PROBLEM STATEMENT

#### Top 10 arrival airports in the world in 2013 (using the bookings file).

Arrival airport is the column arr_port. It is the IATA code for the airport.

To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port.

Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).

Print the top 10 arrival airports in the standard output, including the number of passengers.

Bonus point: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at GeoBases in Github).

Bonus point: Solve this problem using pandas (instead of any other approach).

### PROBLEM SOLUTION

In order to solve the problem, the folling approach is consdered:

1. Take a look of the bookings.csv file to see the type of separation between the characters, the number of columns, and a general overview of the information inside.


2. Depending on the information found in step 1, drop duplicates (if it is obvious that duplicates must be an error).


3. As bookings.csv file is very big (with more that 10 million lines) the first approach will be to reduce the problem considering a piece of the file. I will take a dataframe of 10000 rows.

    3.1. If the number of columns are bigger than the ones we need to solve the problem, I will take only the year, 'arr_port', and 'pax' columns. This will probably reduce the data in memory and it will be earier to work with it.
    
    3.2. Data study: data quality, types, lenth of the strings, NaN, etc.
    
    3.3. Solve all the problems find related with the quality of the information.
    
    3.4. As the only year needed is 2013, I will pick only the 2013 rows.
    
    3.5. Ones 2013 is filtered, this column is not longer usfull, so year columns will be dropped, so a dataframe with only 2 columns will be used.
    
    3.6. Groupby 'arr_port' and sum to count the number of bookings
    
    3.7. Sort in descending order and take the top 10.
    

4. When everything is OK with the sample it is time to integrate all the knowledge in for the total of the data, using chunks and the powerfull 'read_csv' function.


5. For the bonus, I will used a list of the IATA codes for the airports in '/home/dsc/Data/opentraveldata/optd_por_public.csv'. We can find the information needed and then merge it with the one in app. 4.

### 1. MAIN OVERVIEW

In [3]:
booking_path = '/home/dsc/Data/challenge/bookings.csv'

In [4]:
!head -1 /home/dsc/Data/challenge/bookings.csv | tr "^" "\n" | wc -l

38

In [6]:
!head -1 /home/dsc/Data/challenge/bookings.csv

act_date           ^source^pos_ctry^pos_iata^pos_oid  ^rloc          ^cre_date           ^duration^distance^dep_port^dep_city^dep_ctry^arr_port^arr_city^arr_ctry^lst_port^lst_city^lst_ctry^brd_port^brd_city^brd_ctry^off_port^off_city^off_ctry^mkt_port^mkt_city^mkt_ctry^intl^route          ^carrier^bkg_class^cab_class^brd_time           ^off_time           ^pax^year^month^oid

In [8]:
!head -2 /home/dsc/Data/challenge/bookings.csv

act_date           ^source^pos_ctry^pos_iata^pos_oid  ^rloc          ^cre_date           ^duration^distance^dep_port^dep_city^dep_ctry^arr_port^arr_city^arr_ctry^lst_port^lst_city^lst_ctry^brd_port^brd_city^brd_ctry^off_port^off_city^off_ctry^mkt_port^mkt_city^mkt_ctry^intl^route          ^carrier^bkg_class^cab_class^brd_time           ^off_time           ^pax^year^month^oid
2013-03-05 00:00:00^1A    ^DE      ^a68dd7ae953c8acfb187a1af2dcbe123^1a11ae49fcbf545fd2afc1a24d88d2b7^ea65900e72d71f4626378e2ebd298267^2013-02-22 00:00:00^1708^0^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHRZRH  ^LONZRH  ^CHGB    ^1^LHRZRH         ^VI^T        ^Y        ^2013-03-07 08:50:00^2013-03-07 11:33:37^-1^2013^3^NULL

#### MAIN OVERVIEW - CONCLUSIONS

1. From this easy looking it is obvious that the separator of the file is '^'.

2. It is shown also that there are 38  columns, some of them with spaces in the name.

3. Column 'year' seems to the column we need to filter by 2013.

4. 'pos_iata', 'pos_oid' and 'rloc' columns seems to be a very complex information, so it is expected that duplicated lines are errors.

### 2. DROP DUPLICATES

In this part duplicated lines from bookings.csv will be drpoped and a new file will be created (bookings_no_dups.csv).

In order to remove duplicates from a very long file, it is necessary to use "chunk" concept in the "read_csv" function. "Chunk" splits the file in several parts so it is easy to follow the working progress of the laptop.

In [1]:
import pandas as pd

In [11]:
bookings_iterator = pd.read_csv(booking_path,
                             delimiter='^',
                             low_memory=False, # To be sure that the type of the lines are well interpreted
                             dtype = str,      # To be sure that the type of the lines are well interpreted
                             chunksize=100000)

#When working with "chunks", the output of "read_csv" is not a dataframe, but an dataframe iterator

In [12]:
bookings = pd.DataFrame()

for i, chunks in enumerate(bookings_iterator):
    print(i, len(bookings))
    bookings = bookings.append(chunks)
    bookings.drop_duplicates(inplace=True)

0 0
1 100000
2 200000
3 300000
4 400000
5 500000
6 600000
7 700000
8 800000
9 900000
10 1000000
11 1000000
12 1000000
13 1000000
14 1000000
15 1000000
16 1000000
17 1000000
18 1000000
19 1000000
20 1000000
21 1000000
22 1000000
23 1000000
24 1000000
25 1000000
26 1000000
27 1000000
28 1000000
29 1000000
30 1000000
31 1000000
32 1000000
33 1000000
34 1000000
35 1000000
36 1000000
37 1000000
38 1000000
39 1000000
40 1000000
41 1000000
42 1000000
43 1000000
44 1000000
45 1000000
46 1000000
47 1000000
48 1000000
49 1000000
50 1000000
51 1000003
52 1000003
53 1000003
54 1000003
55 1000003
56 1000003
57 1000003
58 1000003
59 1000003
60 1000003
61 1000003
62 1000003
63 1000003
64 1000003
65 1000003
66 1000003
67 1000003
68 1000003
69 1000003
70 1000003
71 1000003
72 1000003
73 1000003
74 1000003
75 1000003
76 1000003
77 1000003
78 1000003
79 1000003
80 1000003
81 1000003
82 1000003
83 1000003
84 1000003
85 1000003
86 1000003
87 1000003
88 1000003
89 1000003
90 1000003
91 1000003
92 1000003
93 1000003
94 1000003
95 1000003
96 1000003
97 1000003
98 1000003
99 1000003
100 1000003

We can see that from more that 10 million of lines, we have now "only" one million and three lines, meaning aproximately a 10% of the original file size.

Now, a new file will be created with the duplicates dropped and the name of the columns without spaces.

In [14]:
bookings.columns = bookings.columns.str.strip() #To delet spaces from the columns' name.
bookings.to_csv('/home/dsc/Data/challenge/bookings_no_dups.csv',sep='^')

### 3. SOLUTION FOR A SAMPLE OF DATA (Small Problem)

The new 'bookings_no_dups.csv' file is opened as a 10000 rows dataframe in order to investigate the information inside.

In [15]:
booking_no_dups_path = '/home/dsc/Data/challenge/bookings_no_dups.csv'

In [16]:
df_bookings = pd.read_csv(booking_no_dups_path,delimiter='^',nrows=10000)

In [17]:
type(df_bookings)

pandas.core.frame.DataFrame

In [18]:
df_bookings.columns

Index(['Unnamed: 0', 'act_date', 'source', 'pos_ctry', 'pos_iata', 'pos_oid',
       'rloc', 'cre_date', 'duration', 'distance', 'dep_port', 'dep_city',
       'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry', 'lst_port', 'lst_city',
       'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry', 'off_port', 'off_city',
       'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry', 'intl', 'route',
       'carrier', 'bkg_class', 'cab_class', 'brd_time', 'off_time', 'pax',
       'year', 'month', 'oid'],
      dtype='object')

In [19]:
len(df_bookings.columns)

39

In [23]:
#Only the needed columns will be considered
df = df_bookings[['year','arr_port','pax']]

In [27]:
df.dtypes

year         int64
arr_port    object
pax          int64
dtype: object

In [28]:
df.count()

year        10000
arr_port    10000
pax         10000
dtype: int64

In [29]:
df.shape

(10000, 3)

In [32]:
#There is no nan in this sample of data
df.dropna().shape

(10000, 3)

In [24]:
df.head()

   year  arr_port  pax
0  2013  LHR        -1
1  2013  CLT         1
2  2013  CLT         1
3  2013  SVO         1
4  2013  SVO         1

In [31]:
#It is checked that only 2013 is in the file, so it is not necessary to filter by year, 
#and this column can be dropped.
df.year.unique()

array([2013])

In [26]:
df.describe()

          year           pax
count  10000.0  10000.000000
mean    2013.0      0.516300
std        0.0      1.783943
min     2013.0    -25.000000
25%     2013.0     -1.000000
50%     2013.0      1.000000
75%     2013.0      1.000000
max     2013.0     25.000000

In [33]:
#Column 'year' is not needed, so it is deleted
df = df.drop('year',axis=1)
df.head()

   arr_port  pax
0  LHR        -1
1  CLT         1
2  CLT         1
3  SVO         1
4  SVO         1

In [37]:
#'arr_port' is the only string column in the dataframe, 
#so spaces will be deleted in order to avoid future problems

df['arr_port'].str.len().describe()

count    10000.0
mean         8.0
std          0.0
min          8.0
25%          8.0
50%          8.0
75%          8.0
max          8.0
Name: arr_port, dtype: float64

In [38]:
df['arr_port'].str.len()

0       8
1       8
2       8
3       8
4       8
       ..
9995    8
9996    8
9997    8
9998    8
9999    8
Name: arr_port, Length: 10000, dtype: int64

In [40]:
df['arr_port'] = df['arr_port'].str.strip()
df['arr_port']

0       LHR
1       CLT
2       CLT
3       SVO
4       SVO
       ...
9995    HAN
9996    HAN
9997    SGN
9998    SGN
9999    SGN
Name: arr_port, Length: 10000, dtype: object

In [42]:
#Now, all the chacters in 'arr_por' has a length of 3.
df['arr_port'].str.len()

0       3
1       3
2       3
3       3
4       3
       ..
9995    3
9996    3
9997    3
9998    3
9999    3
Name: arr_port, Length: 10000, dtype: int64

In [43]:
#The groupby is done considering all the requeriments of the problem statement
df.groupby('arr_port')['pax'].sum().sort_values(ascending=False).head(10)

arr_port
HKG    112
LGA     95
ORD     94
JFK     92
SFO     91
LAX     91
MCO     90
DCA     82
DEN     79
LHR     76
Name: pax, dtype: int64

### 4. SOLUTION FOR THE HOLE PROBLEM

As I know the steps I have to follow to solve the problem, now I do it in the iteration process for the hole file with chunks.

First of all, I read the file (without duplicates) and, only considering the right columns and without considering 'year' (as only info from 2013 is in the file). 

Despite the fact it in the small problem there was no NaN, it is considered to substitute then with '0' when reading the file.

In [1]:
import pandas as pd

In [2]:
booking_no_dups_path = '/home/dsc/Data/challenge/bookings_no_dups.csv'

In [4]:
bookings_iter = pd.read_csv(booking_no_dups_path,
                       delimiter='^',
                       chunksize=10000,
                       usecols=['arr_port','pax'],
                       na_values=0)

df_tot = pd.DataFrame()

for df in bookings_iter:
    df['arr_port'] = df['arr_port'].str.strip() #Remove spaces from 'arr_port' strings
    df['arr_port'] = df['arr_port'].str.upper() #Case insensitive
    df = df.groupby('arr_port')['pax'].sum()
    df_tot = pd.concat([df_tot,df])

df_tot.head()

        0
AAL   0.0
ABQ  12.0
ABV   2.0
ABZ  -6.0
ACC   4.0

In [11]:
df_tot = df_tot.reset_index()

In [12]:
df_tot.columns = ['arr_port','pax']

In [13]:
df_tot.head()

  arr_port   pax
0      AAL   0.0
1      ABQ  12.0
2      ABV   2.0
3      ABZ  -6.0
4      ACC   4.0

In [14]:
df_tot.shape

(72366, 2)

In [22]:
df_tot['pax'] = df_tot['pax'].astype('int')

In [24]:
solution_ex2 = df_tot.groupby('arr_port')['pax'].sum().sort_values(ascending=False).head(10)
solution_ex2 =  pd.DataFrame(solution_ex2)
solution_ex2

           pax
arr_port
LHR       8881
MCO       7093
LAX       7053
LAS       6963
JFK       6627
CDG       6449
BKK       5946
MIA       5815
SFO       5800
DXB       5559

### 5. BONUS

#### Get the name of the city or airport corresponding to that airport

In [25]:
traveldata_path = '/home/dsc/Data/opentraveldata/optd_por_public.csv'

In [26]:
!head -1 /home/dsc/Data/opentraveldata/optd_por_public.csv | tr "^" "\n" | wc -l

46

In [27]:
!head -1 /home/dsc/Data/opentraveldata/optd_por_public.csv

iata_code^icao_code^faa_code^is_geonames^geoname_id^envelope_id^name^asciiname^latitude^longitude^fclass^fcode^page_rank^date_from^date_until^comment^country_code^cc2^country_name^continent_name^adm1_code^adm1_name_utf^adm1_name_ascii^adm2_code^adm2_name_utf^adm2_name_ascii^adm3_code^adm4_code^population^elevation^gtopo30^timezone^gmt_offset^dst_offset^raw_offset^moddate^city_code_list^city_name_list^city_detail_list^tvl_por_list^state_code^location_type^wiki_link^alt_name_section^wac^wac_name

In [28]:
!head -2 /home/dsc/Data/opentraveldata/optd_por_public.csv

iata_code^icao_code^faa_code^is_geonames^geoname_id^envelope_id^name^asciiname^latitude^longitude^fclass^fcode^page_rank^date_from^date_until^comment^country_code^cc2^country_name^continent_name^adm1_code^adm1_name_utf^adm1_name_ascii^adm2_code^adm2_name_utf^adm2_name_ascii^adm3_code^adm4_code^population^elevation^gtopo30^timezone^gmt_offset^dst_offset^raw_offset^moddate^city_code_list^city_name_list^city_detail_list^tvl_por_list^state_code^location_type^wiki_link^alt_name_section^wac^wac_name
AAA^NTGA^^Y^6947726^^Anaa Airport^Anaa Airport^-17.352606^-145.509956^S^AIRP^^^^^PF^^French Polynesia^Oceania^^^^^^^^^0^^8^Pacific/Tahiti^-10.0^-10.0^-10.0^2012-04-29^AAA^Anaa^AAA|4034700|Anaa|Anaa^^^A^http://en.wikipedia.org/wiki/Anaa_Airport^ru|Анаа|^823^French Polynesia

Considering this information the information in 'iata_code', 'name', and 'city_name_list' should be enough.

In [29]:
#Reading the number of lines of "optd_por_public.csv"

file_path = '/home/dsc/Data/opentraveldata/'
file = 'optd_por_public.csv'

f = open(file_path + file, "r")

count = 0

while True:  
    line = f.readline()
    if len(line) == 0:
        break
    else:
        count += 1

print(f'File {file} has {count} lines')

File optd_por_public.csv has 18190 lines

In [38]:
#Let us read the file as a dataframe

df_ports = pd.read_csv('/home/dsc/Data/opentraveldata/optd_por_public.csv',
                       delimiter = '^',
                       usecols=['iata_code', 'name'])

In [39]:
df_ports.shape

(18189, 2)

In [40]:
df_ports.head()

  iata_code                            name
0       AAA                    Anaa Airport
1       AAA                            Anaa
2       AAB                Arrabury Airport
3       AAC  El Arish International Airport
4       AAC                           Arish

In [41]:
#Now let's drop duplicates

df_ports_no_dups = df_ports.drop_duplicates()

In [42]:
df_ports_no_dups.shape

(17855, 2)

In [56]:
#Checking the length of the iata_code (the merging key)

df_ports_no_dups['iata_code'].str.len().describe()

count    17855.0
mean         3.0
std          0.0
min          3.0
25%          3.0
50%          3.0
75%          3.0
max          3.0
Name: iata_code, dtype: float64

In [57]:
#As everything seems to be OK, let us merge (left or inner)'solution_ex2' with 'df_ports_no_dups' 
#with 'arr_port' and 'iata_code' as keys (considering that 'arr_port' is the index)

bonus_solution = solution_ex2.merge(df_ports, how='left',left_index=True,right_on='iata_code')
bonus_solution

        pax iata_code                                  name
7624   8881       LHR               London Heathrow Airport
8278   7093       MCO         Orlando International Airport
7396   7053       LAX     Los Angeles International Airport
7397   7053       LAX                           Los Angeles
7387   6963       LAS       Mc Carran International Airport
7388   6963       LAS                             Las Vegas
6208   6627       JFK  John F Kennedy International Airport
2176   6449       CDG       Paris Charles de Gaulle Airport
1382   5946       BKK                  Suvarnabhumi Airport
1383   5946       BKK                               Bangkok
8508   5815       MIA           Miami International Airport
8509   5815       MIA                                 Miami
12761  5800       SFO   San Francisco International Airport
12762  5800       SFO                         San Francisco
3519   5559       DXB           Dubai International Airport
3520   5559       DXB                                 Dubai

In [58]:
#Let us delete the ones with no 'Airport' in 'name'

bonus_solution = bonus_solution[bonus_solution['name'].str.endswith('Airport')]
bonus_solution

        pax iata_code                                  name
7624   8881       LHR               London Heathrow Airport
8278   7093       MCO         Orlando International Airport
7396   7053       LAX     Los Angeles International Airport
7387   6963       LAS       Mc Carran International Airport
6208   6627       JFK  John F Kennedy International Airport
2176   6449       CDG       Paris Charles de Gaulle Airport
1382   5946       BKK                  Suvarnabhumi Airport
8508   5815       MIA           Miami International Airport
12761  5800       SFO   San Francisco International Airport
3519   5559       DXB           Dubai International Airport

In [59]:
bonus_solution = bonus_solution.reset_index().drop(['index'],axis=1)
bonus_solution

    pax iata_code                                  name
0  8881       LHR               London Heathrow Airport
1  7093       MCO         Orlando International Airport
2  7053       LAX     Los Angeles International Airport
3  6963       LAS       Mc Carran International Airport
4  6627       JFK  John F Kennedy International Airport
5  6449       CDG       Paris Charles de Gaulle Airport
6  5946       BKK                  Suvarnabhumi Airport
7  5815       MIA           Miami International Airport
8  5800       SFO   San Francisco International Airport
9  5559       DXB           Dubai International Airport

In [60]:
bonus_solution.columns

Index(['pax', 'iata_code', 'name'], dtype='object')

In [65]:
bonus_solution.columns = ['pax', 'iata_code', 'name']

In [67]:
bonus_solution = bonus_solution[['iata_code', 'name', 'pax']]

In [68]:
bonus_solution

  iata_code                                  name   pax
0       LHR               London Heathrow Airport  8881
1       MCO         Orlando International Airport  7093
2       LAX     Los Angeles International Airport  7053
3       LAS       Mc Carran International Airport  6963
4       JFK  John F Kennedy International Airport  6627
5       CDG       Paris Charles de Gaulle Airport  6449
6       BKK                  Suvarnabhumi Airport  5946
7       MIA           Miami International Airport  5815
8       SFO   San Francisco International Airport  5800
9       DXB           Dubai International Airport  5559