In [2]:
### ESTA PARTE ES ESPECÍFICA DE COLAB
### PARA FUNCIONAR CON EN LOCAL NO ES NECESARIO

In [3]:
#import os
#drive_loc = '/content/gdrive'
#file_loc = os.path.join(drive_loc,'MyDrive','pdsfiles')

#from google.colab import drive
#drive.mount(drive_loc)

In [4]:
#files_loc = file_loc
#!mkdir -p {files_loc}

In [5]:
#!ls {files_loc}

In [6]:
#files_loc

#Getting started

In [7]:
import pandas as pd
import numpy as np

## Series

In [8]:
s = pd.Series([4,7,-5,3])
type(s)

pandas.core.series.Series

In [12]:
s

0    4
1    7
2   -5
3    3
dtype: int64

In [9]:
s.values

array([ 4,  7, -5,  3])

In [10]:
type(s.values)

numpy.ndarray

In [11]:
#Esto da error porque la longitud de la lista de índices no coincide con la de los valores
s2 = pd.Series([1,2,4.5,7,2,23,15],index=list('javiercm'))

ValueError: Length of passed values is 7, index implies 8

In [12]:
s2 = pd.Series([1,2,4.5,8,7,2,23,15],index=list('javiercm'))

In [13]:
s2

j     1.0
a     2.0
v     4.5
i     8.0
e     7.0
r     2.0
c    23.0
m    15.0
dtype: float64

In [14]:
s2['r']

2.0

In [17]:
#OJO: el índice numérico no se pierde
s2[1]

2.0

In [18]:
s2 % 2 == 0

j    False
a     True
v    False
i     True
e    False
r     True
c    False
m    False
dtype: bool

In [19]:
s2[s2 % 2 == 0]

a    2.0
i    8.0
r    2.0
dtype: float64

In [20]:
s2 * 2

j     2.0
a     4.0
v     9.0
i    16.0
e    14.0
r     4.0
c    46.0
m    30.0
dtype: float64

In [21]:
np.exp(s2)

j    2.718282e+00
a    7.389056e+00
v    9.001713e+01
i    2.980958e+03
e    1.096633e+03
r    7.389056e+00
c    9.744803e+09
m    3.269017e+06
dtype: float64

In [27]:
#Las seire no ha cambiado
s2

j     1.0
a     2.0
v     4.5
i     8.0
e     7.0
r     2.0
c    23.0
m    15.0
dtype: float64

In [23]:
'i' in s2

True

In [24]:
sdata = {
    'Zaragoza': 2.5e5,
    'Sevilla': 5e5,
    'Cordoba': 3e5,
    'Madrid': 6e6
}
s3 = pd.Series(sdata)
s3

Zaragoza     250000.0
Sevilla      500000.0
Cordoba      300000.0
Madrid      6000000.0
dtype: float64

In [29]:
#Vamos a guardar la serie para no perderla (entorno efímero en COLAB)
#Este tipo de ficheros cosas son importantes para no perder información trabajando en la nube
#s3.to_pickle(os.path.join(files_loc,'s3.pkl'))

In [30]:
#!ls {files_loc}/s3.pkl

In [31]:
#save_to_drive = True #@param {type:'boolean}
#Esto es util para guardar cosas en Drive y no perder info

In [32]:
s3 = pd.Series(sdata).sort_index()

In [33]:
s3

Cordoba      300000.0
Madrid      6000000.0
Sevilla      500000.0
Zaragoza     250000.0
dtype: float64

In [37]:
#Otra manera de hacer lo de arriba
cities = ['Cordoba', 'Madrid', 'Valencia','Zaragoza']

In [38]:
s4 = pd.Series(sdata,index = cities)

In [39]:
s4

Cordoba      300000.0
Madrid      6000000.0
Valencia          NaN
Zaragoza     250000.0
dtype: float64

In [42]:
#Si pasamos una lista de índices que no cuadra con la Serie original, se crea la entrada con NaN
s5 = pd.Series(s3,index = cities)

In [43]:
s5

Cordoba      300000.0
Madrid      6000000.0
Valencia          NaN
Zaragoza     250000.0
dtype: float64

In [44]:
#Indica si hay NaN en los datos
pd.isnull(s4)

Cordoba     False
Madrid      False
Valencia     True
Zaragoza    False
dtype: bool

In [45]:
s3

Cordoba      300000.0
Madrid      6000000.0
Sevilla      500000.0
Zaragoza     250000.0
dtype: float64

In [46]:
s4

Cordoba      300000.0
Madrid      6000000.0
Valencia          NaN
Zaragoza     250000.0
dtype: float64

In [48]:
#Al sumar dos Series cuyos índices no cuadran y que tienen NaN, solo suma las filas cuyos índices cuadren
s3 + s4

Cordoba       600000.0
Madrid      12000000.0
Sevilla            NaN
Valencia           NaN
Zaragoza      500000.0
dtype: float64

In [51]:
#Se puede incluir un nombre a una Serie
s4.name = 'Population'

In [52]:
s4

Cordoba      300000.0
Madrid      6000000.0
Valencia          NaN
Zaragoza     250000.0
Name: Population, dtype: float64

In [53]:
#También se puede incluir un nombre al índice
s4.index.name = 'Province'

In [54]:
s4

Province
Cordoba      300000.0
Madrid      6000000.0
Valencia          NaN
Zaragoza     250000.0
Name: Population, dtype: float64

In [55]:
s4[0]

300000.0

## Dataframe

In [91]:
dfdata = {
    'province':['M','M','M','B','B'],
    'population':[1.5e6,2e6,3e6,5e6,1.5e6],
    'year':[1900,1950,2000,1900,2000]
}

In [92]:
df = pd.DataFrame(dfdata)

In [93]:
df

  province  population  year
0        M   1500000.0  1900
1        M   2000000.0  1950
2        M   3000000.0  2000
3        B   5000000.0  1900
4        B   1500000.0  2000

In [94]:
#Modificamos el DF añadiendo la columna "debt"
df2 = pd.DataFrame(dfdata, columns = ['province','population','year','debt'])

In [95]:
df2

  province  population  year debt
0        M   1500000.0  1900  NaN
1        M   2000000.0  1950  NaN
2        M   3000000.0  2000  NaN
3        B   5000000.0  1900  NaN
4        B   1500000.0  2000  NaN

In [96]:
df2.index

RangeIndex(start=0, stop=5, step=1)

In [97]:
df2.columns

Index(['province', 'population', 'year', 'debt'], dtype='object')

In [98]:
type(df2.columns)

pandas.core.indexes.base.Index

In [99]:
df['population']

0    1500000.0
1    2000000.0
2    3000000.0
3    5000000.0
4    1500000.0
Name: population, dtype: float64

In [100]:
df.population

0    1500000.0
1    2000000.0
2    3000000.0
3    5000000.0
4    1500000.0
Name: population, dtype: float64

In [101]:
#Manera de añadir columnas a un DF
df2['2nd_language'] = np.nan

In [102]:
df2

  province  population  year debt  2nd_language
0        M   1500000.0  1900  NaN           NaN
1        M   2000000.0  1950  NaN           NaN
2        M   3000000.0  2000  NaN           NaN
3        B   5000000.0  1900  NaN           NaN
4        B   1500000.0  2000  NaN           NaN

In [103]:
df2['2nd_language']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 2nd_language, dtype: float64

In [104]:
#No se puede empezar con un número un método después de un punto. 
#Por eso también existe la manera de invocar con []
df2.2nd_language

SyntaxError: invalid syntax (<ipython-input-104-79e4d7436ee5>, line 3)

In [105]:
df2.index = list('abcde')

In [106]:
df2

  province  population  year debt  2nd_language
a        M   1500000.0  1900  NaN           NaN
b        M   2000000.0  1950  NaN           NaN
c        M   3000000.0  2000  NaN           NaN
d        B   5000000.0  1900  NaN           NaN
e        B   1500000.0  2000  NaN           NaN

In [107]:
df2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [108]:
df2.loc['c']

province            M
population      3e+06
year             2000
debt              NaN
2nd_language      NaN
Name: c, dtype: object

In [109]:
#Con .loc los extremos son incluyentes y ordenados 
df2.loc['a':'c']

  province  population  year debt  2nd_language
a        M   1500000.0  1900  NaN           NaN
b        M   2000000.0  1950  NaN           NaN
c        M   3000000.0  2000  NaN           NaN

In [110]:
df2.loc['c':'a']

Empty DataFrame
Columns: [province, population, year, debt, 2nd_language]
Index: []

In [111]:
df2.iloc[0:2]

  province  population  year debt  2nd_language
a        M   1500000.0  1900  NaN           NaN
b        M   2000000.0  1950  NaN           NaN

In [112]:
val = pd.Series([0.1,0.6,0.9], index=['b','d','e'])

In [113]:
val

b    0.1
d    0.6
e    0.9
dtype: float64

In [114]:
df2['debt'] = [1,0,2,0.5,0.7]
df2

  province  population  year  debt  2nd_language
a        M   1500000.0  1900   1.0           NaN
b        M   2000000.0  1950   0.0           NaN
c        M   3000000.0  2000   2.0           NaN
d        B   5000000.0  1900   0.5           NaN
e        B   1500000.0  2000   0.7           NaN

In [115]:
#Al no tener todos los registros en val, los que no existen se indican como NaN (no se dejan los que había)
df2['debt'] = val
df2

  province  population  year  debt  2nd_language
a        M   1500000.0  1900   NaN           NaN
b        M   2000000.0  1950   0.1           NaN
c        M   3000000.0  2000   NaN           NaN
d        B   5000000.0  1900   0.6           NaN
e        B   1500000.0  2000   0.9           NaN

In [116]:
df2['capital'] = df2['province']=='M'

In [117]:
df2

  province  population  year  debt  2nd_language  capital
a        M   1500000.0  1900   NaN           NaN     True
b        M   2000000.0  1950   0.1           NaN     True
c        M   3000000.0  2000   NaN           NaN     True
d        B   5000000.0  1900   0.6           NaN    False
e        B   1500000.0  2000   0.9           NaN    False

In [118]:
#Eliminar columnas
del df2['2nd_language']
df2

  province  population  year  debt  capital
a        M   1500000.0  1900   NaN     True
b        M   2000000.0  1950   0.1     True
c        M   3000000.0  2000   NaN     True
d        B   5000000.0  1900   0.6    False
e        B   1500000.0  2000   0.9    False

In [133]:
df2_copy = df2.drop('capital',axis=1) #Hace lo mismo pero por defecto toma axis=0, que son las filas
df2_copy

  province  population  year  debt  2nd_language
a        M   1500000.0  1900   NaN           NaN
b        M   2000000.0  1950   0.1           NaN
c        M   3000000.0  2000   NaN           NaN
d        B   5000000.0  1900   0.6           NaN
e        B   1500000.0  2000   0.9           NaN

In [119]:
df2['2nd_language'] = np.nan
df2

  province  population  year  debt  capital  2nd_language
a        M   1500000.0  1900   NaN     True           NaN
b        M   2000000.0  1950   0.1     True           NaN
c        M   3000000.0  2000   NaN     True           NaN
d        B   5000000.0  1900   0.6    False           NaN
e        B   1500000.0  2000   0.9    False           NaN

In [120]:
#Transposición de DF
df2.T

                    a      b      c      d        e
province            M      M      M      B        B
population    1.5e+06  2e+06  3e+06  5e+06  1.5e+06
year             1900   1950   2000   1900     2000
debt              NaN    0.1    NaN    0.6      0.9
capital          True   True   True  False    False
2nd_language      NaN    NaN    NaN    NaN      NaN

In [121]:
df2.describe()

         population    year      debt  2nd_language
count  5.000000e+00     5.0  3.000000           0.0
mean   2.600000e+06  1950.0  0.533333           NaN
std    1.474788e+06    50.0  0.404145           NaN
min    1.500000e+06  1900.0  0.100000           NaN
25%    1.500000e+06  1900.0  0.350000           NaN
50%    2.000000e+06  1950.0  0.600000           NaN
75%    3.000000e+06  2000.0  0.750000           NaN
max    5.000000e+06  2000.0  0.900000           NaN

In [122]:
df2.count()

province        5
population      5
year            5
debt            3
capital         5
2nd_language    0
dtype: int64

In [123]:
#OJO: No se puede modificar el índice. Los índices son inmutables
df2.index[1] = x

NameError: name 'x' is not defined

In [124]:
df2.index[1]

'b'

In [125]:
series_temp = pd.Series([1.5, -2.5,0,1,2], df2.index)
series_temp

a    1.5
b   -2.5
c    0.0
d    1.0
e    2.0
dtype: float64

In [126]:
df2.iloc[2:]

  province  population  year  debt  capital  2nd_language
c        M   3000000.0  2000   NaN     True           NaN
d        B   5000000.0  1900   0.6    False           NaN
e        B   1500000.0  2000   0.9    False           NaN

In [127]:
s6 = pd.Series(np.arange(5), list('jduvk'))
s6

j    0
d    1
u    2
v    3
k    4
dtype: int64

In [128]:
#Eliminar filas
s7 = s6.drop(['d','k'])

In [129]:
s7

j    0
u    2
v    3
dtype: int64

In [134]:
s7b = s6[s6.index.intersection(['d','k'])]

In [135]:
s7b

d    1
k    4
dtype: int64

In [136]:
s6

j    0
d    1
u    2
v    3
k    4
dtype: int64

In [99]:
s7['u'] = 7
s6

j    0
d    1
u    2
v    3
k    4
dtype: int64

In [100]:
s7

j    0
u    7
v    3
dtype: int64

In [101]:
#Si dejas de tener wifi o cosas así, debes recuperar las variables, para ello lo recuperas con el .pkl

#df2=pd.read_pickle(os.path.join(files_loc,'df2.pkl'))

In [137]:
df2.drop('c')

  province  population  year  debt  capital  2nd_language
a        M   1500000.0  1900   NaN     True           NaN
b        M   2000000.0  1950   0.1     True           NaN
d        B   5000000.0  1900   0.6    False           NaN
e        B   1500000.0  2000   0.9    False           NaN

In [138]:
df2.drop('2nd_language',axis = 1)

  province  population  year  debt  capital
a        M   1500000.0  1900   NaN     True
b        M   2000000.0  1950   0.1     True
c        M   3000000.0  2000   NaN     True
d        B   5000000.0  1900   0.6    False
e        B   1500000.0  2000   0.9    False

In [139]:
df2

  province  population  year  debt  capital  2nd_language
a        M   1500000.0  1900   NaN     True           NaN
b        M   2000000.0  1950   0.1     True           NaN
c        M   3000000.0  2000   NaN     True           NaN
d        B   5000000.0  1900   0.6    False           NaN
e        B   1500000.0  2000   0.9    False           NaN

In [140]:
df3 = df2.copy()

In [141]:
df3

  province  population  year  debt  capital  2nd_language
a        M   1500000.0  1900   NaN     True           NaN
b        M   2000000.0  1950   0.1     True           NaN
c        M   3000000.0  2000   NaN     True           NaN
d        B   5000000.0  1900   0.6    False           NaN
e        B   1500000.0  2000   0.9    False           NaN

In [142]:
df_detour = pd.DataFrame({'x':[1,2]})

In [143]:
df_detour

   x
0  1
1  2

In [145]:
df_sub = df_detour[0:1]
df_sub

   x
0  1

In [146]:
#OJO CON ESTO: HAY QUE HACER .COPY
df_sub.x = -1
df_detour

/home/dsc/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

   x
0 -1
1  2

In [158]:
#OJO: "inplace = True" modifica el dataframe original
df3.drop('capital',axis=1,inplace=True)

In [159]:
df3

  province  population  year  debt  2nd_language
a        M   1500000.0  1900   NaN           NaN
b        M   2000000.0  1950   0.1           NaN
c        M   3000000.0  2000   NaN           NaN
d        B   5000000.0  1900   0.6           NaN
e        B   1500000.0  2000   0.9           NaN

In [160]:
s3

Cordoba      300000.0
Madrid      6000000.0
Sevilla      500000.0
Zaragoza     250000.0
dtype: float64

In [161]:
s3[['Zaragoza','Madrid']]

Zaragoza     250000.0
Madrid      6000000.0
dtype: float64

In [162]:
s3[2:]

Sevilla     500000.0
Zaragoza    250000.0
dtype: float64

In [163]:
s3['Cordoba':'Sevilla']

Cordoba     300000.0
Madrid     6000000.0
Sevilla     500000.0
dtype: float64

In [164]:
s3[1:2]

Madrid    6000000.0
dtype: float64

In [165]:
s3 > 1e6

Cordoba     False
Madrid       True
Sevilla     False
Zaragoza    False
dtype: bool

In [166]:
df3['year'] > 1950

a    False
b    False
c     True
d    False
e     True
Name: year, dtype: bool

In [167]:
df3[df3['year'] > 1950]

  province  population  year  debt  2nd_language
c        M   3000000.0  2000   NaN           NaN
e        B   1500000.0  2000   0.9           NaN

In [168]:
df3[(df3['year'] > 1950) & (df3['debt'] > 0.5)]

  province  population  year  debt  2nd_language
e        B   1500000.0  2000   0.9           NaN

In [169]:
recent = df3['year'] > 1950
indebted = df3['debt'] > 0.5
df3[recent & indebted]

  province  population  year  debt  2nd_language
e        B   1500000.0  2000   0.9           NaN

In [170]:
df3

  province  population  year  debt  2nd_language
a        M   1500000.0  1900   NaN           NaN
b        M   2000000.0  1950   0.1           NaN
c        M   3000000.0  2000   NaN           NaN
d        B   5000000.0  1900   0.6           NaN
e        B   1500000.0  2000   0.9           NaN

In [171]:
np.sqrt(df3['population'])

a    1224.744871
b    1414.213562
c    1732.050808
d    2236.067977
e    1224.744871
Name: population, dtype: float64

In [172]:
#randn incluye valores de una distribución normal de media 4 y std 3
df4 = pd.DataFrame(np.random.randn(4,3)*17+15, columns = list('bde'), index = list('BMPZ'))

In [173]:
df4

           b          d          e
B  14.991376  17.586833   9.915303
M -20.226829  20.063671  29.552356
P   7.928477 -25.970684  -2.693977
Z  43.206046  20.483501  36.954914

In [176]:
#Se aplica por columnas por defecto, si no hay que poner axis=1
df4.apply(lambda series: series.max() - series.min())

b    63.432875
d    46.454185
e    39.648891
dtype: float64

In [177]:
df4.apply(lambda series: series.max() - series.min(),axis=1)

B     7.671530
M    49.779185
P    33.899161
Z    22.722545
dtype: float64

In [179]:
df4.applymap(lambda element: element/10)

          b         d         e
B  1.499138  1.758683  0.991530
M -2.022683  2.006367  2.955236
P  0.792848 -2.597068 -0.269398
Z  4.320605  2.048350  3.695491

In [180]:
df4.apply(lambda series: series.max() - series.min(),axis=1)

B     7.671530
M    49.779185
P    33.899161
Z    22.722545
dtype: float64

In [181]:
def f(series):
  return pd.Series([series.max()-series.min()],index=['result'])

In [182]:
df4.apply(f)

                b          d          e
result  63.432875  46.454185  39.648891

In [183]:
for item in df4.items():
  print(item)

('b', B    14.991376
M   -20.226829
P     7.928477
Z    43.206046
Name: b, dtype: float64)
('d', B    17.586833
M    20.063671
P   -25.970684
Z    20.483501
Name: d, dtype: float64)
('e', B     9.915303
M    29.552356
P    -2.693977
Z    36.954914
Name: e, dtype: float64)

In [184]:
for item in df4.iteritems():
  print(item)

('b', B    14.991376
M   -20.226829
P     7.928477
Z    43.206046
Name: b, dtype: float64)
('d', B    17.586833
M    20.063671
P   -25.970684
Z    20.483501
Name: d, dtype: float64)
('e', B     9.915303
M    29.552356
P    -2.693977
Z    36.954914
Name: e, dtype: float64)

In [185]:
df4

           b          d          e
B  14.991376  17.586833   9.915303
M -20.226829  20.063671  29.552356
P   7.928477 -25.970684  -2.693977
Z  43.206046  20.483501  36.954914

In [186]:
df4.sort_index(ascending=True)

           b          d          e
B  14.991376  17.586833   9.915303
M -20.226829  20.063671  29.552356
P   7.928477 -25.970684  -2.693977
Z  43.206046  20.483501  36.954914

In [187]:
df4.sort_index(ascending=False)

           b          d          e
Z  43.206046  20.483501  36.954914
P   7.928477 -25.970684  -2.693977
M -20.226829  20.063671  29.552356
B  14.991376  17.586833   9.915303

In [188]:
df4.sort_index(ascending=False, axis=1)

           e          d          b
B   9.915303  17.586833  14.991376
M  29.552356  20.063671 -20.226829
P  -2.693977 -25.970684   7.928477
Z  36.954914  20.483501  43.206046

In [189]:
df4.sort_values(by='e')

           b          d          e
P   7.928477 -25.970684  -2.693977
B  14.991376  17.586833   9.915303
M -20.226829  20.063671  29.552356
Z  43.206046  20.483501  36.954914

In [190]:
df4.sort_values(by=['e','d'])

           b          d          e
P   7.928477 -25.970684  -2.693977
B  14.991376  17.586833   9.915303
M -20.226829  20.063671  29.552356
Z  43.206046  20.483501  36.954914

In [191]:
s10 = pd.Series([2,3,8,4,3,2,1],index=list('abcdefg'))

In [192]:
s10

a    2
b    3
c    8
d    4
e    3
f    2
g    1
dtype: int64

In [195]:
s10.sort_values()

g    1
a    2
f    2
b    3
e    3
d    4
c    8
dtype: int64

In [196]:
s10.rank()

a    2.5
b    4.5
c    7.0
d    6.0
e    4.5
f    2.5
g    1.0
dtype: float64

In [197]:
pd.Series([1,1,1]).rank()

0    2.0
1    2.0
2    2.0
dtype: float64

In [198]:
salaries = pd.Series([150000,90000,120000,30000,10000,5000,40000,50000,80000,35000,27000,14000])

In [199]:
salaries

0     150000
1      90000
2     120000
3      30000
4      10000
5       5000
6      40000
7      50000
8      80000
9      35000
10     27000
11     14000
dtype: int64

In [201]:
salaries_sort = salaries.sort_values(ascending=False)

In [202]:
salaries_sort[0:10]

0     150000
2     120000
1      90000
8      80000
7      50000
6      40000
9      35000
3      30000
10     27000
11     14000
dtype: int64

In [203]:
salaries_10max = salaries_sort[0:10]

In [204]:
type(salaries_10max)

pandas.core.series.Series

In [205]:
salaries_10max

0     150000
2     120000
1      90000
8      80000
7      50000
6      40000
9      35000
3      30000
10     27000
11     14000
dtype: int64

In [206]:
len(salaries_sort)

12

In [208]:
def top_earners(salaries):
  number_to_extract = round(len(salaries) / 10)
  return salaries.sort_values()[-number_to_extract:]

top_earners(salaries)

0    150000
dtype: int64

In [209]:
def top_earners(salaries,percentile=0.9):
  is_top_earnears = salaries.rank(pct=True) > percentile
  return salaries[is_top_earnears]

print(top_earners(salaries,.8))

0    150000
1     90000
2    120000
dtype: int64

In [210]:
x = pd.Series([1.2,np.nan,4,np.nan,9], index = list('abcde'))
y = pd.Series([5,3,7,np.nan,14], index = list('abcde'))

In [211]:
df = pd.DataFrame([x,y], index=['x','y'])

In [212]:
df

     a    b    c   d     e
x  1.2  NaN  4.0 NaN   9.0
y  5.0  3.0  7.0 NaN  14.0

In [213]:
df = pd.DataFrame([x,y], index=['x','y']).T

In [214]:
df

     x     y
a  1.2   5.0
b  NaN   3.0
c  4.0   7.0
d  NaN   NaN
e  9.0  14.0

In [215]:
#OJO, que así sí suma, a pesar de existir NaN
df.sum()

x    14.2
y    29.0
dtype: float64

In [216]:
df.mean()

x    4.733333
y    7.250000
dtype: float64

In [217]:
s11 = pd.Series(list('gtcaaagtcttcaga'))
s11

0     g
1     t
2     c
3     a
4     a
5     a
6     g
7     t
8     c
9     t
10    t
11    c
12    a
13    g
14    a
dtype: object

In [218]:
s11.unique()

array(['g', 't', 'c', 'a'], dtype=object)

In [219]:
s11.value_counts()

a    5
t    4
g    3
c    3
dtype: int64

In [220]:
puric_bases = ['a','g']

In [221]:
s11.isin(puric_bases)

0      True
1     False
2     False
3      True
4      True
5      True
6      True
7     False
8     False
9     False
10    False
11    False
12     True
13     True
14     True
dtype: bool

In [222]:
s11[s11.isin(puric_bases)]

0     g
3     a
4     a
5     a
6     g
12    a
13    g
14    a
dtype: object

# MISSING DATA

In [223]:
string_data = pd.Series(['Ma','Lu','Ca','Va',np.nan])

In [224]:
string_data

0     Ma
1     Lu
2     Ca
3     Va
4    NaN
dtype: object

In [226]:
#Cosa curiosa esto de NaN
np.nan == np.nan

False

In [227]:
#Curiosa manera de decir "selecciona las filas que tengan valor
string_data[-string_data.isnull()]

0    Ma
1    Lu
2    Ca
3    Va
dtype: object

In [229]:
df5 = pd.DataFrame([[1,2,3],
                   [np.nan,8,7],
                   [4,np.nan,90],
                   [67,42,53]],
                   columns = list('abc')
                   )
df5

      a     b   c
0   1.0   2.0   3
1   NaN   8.0   7
2   4.0   NaN  90
3  67.0  42.0  53

In [230]:
df5[df5['a'].notnull()]

      a     b   c
0   1.0   2.0   3
2   4.0   NaN  90
3  67.0  42.0  53

In [231]:
df5.notnull()

       a      b     c
0   True   True  True
1  False   True  True
2   True  False  True
3   True   True  True

In [232]:
df5.notnull().any()

a    True
b    True
c    True
dtype: bool

In [233]:
df5.notnull().all()

a    False
b    False
c     True
dtype: bool

In [234]:
df5.dropna()

      a     b   c
0   1.0   2.0   3
3  67.0  42.0  53

In [235]:
df5.dropna(axis=1)

    c
0   3
1   7
2  90
3  53

In [236]:
df5.dropna(thresh=2)

      a     b   c
0   1.0   2.0   3
1   NaN   8.0   7
2   4.0   NaN  90
3  67.0  42.0  53

In [237]:
df5.fillna(0)

      a     b   c
0   1.0   2.0   3
1   0.0   8.0   7
2   4.0   0.0  90
3  67.0  42.0  53

In [238]:
df5.fillna({'a':0,
            'b':10,
            'c':20
            })

      a     b   c
0   1.0   2.0   3
1   0.0   8.0   7
2   4.0  10.0  90
3  67.0  42.0  53

In [239]:
df5

      a     b   c
0   1.0   2.0   3
1   NaN   8.0   7
2   4.0   NaN  90
3  67.0  42.0  53

In [240]:
df5.fillna(method='ffill')

      a     b   c
0   1.0   2.0   3
1   1.0   8.0   7
2   4.0   8.0  90
3  67.0  42.0  53

In [241]:
df5.fillna(df5.mean())

      a          b   c
0   1.0   2.000000   3
1  24.0   8.000000   7
2   4.0  17.333333  90
3  67.0  42.000000  53

In [242]:
#Manera de abrir el fichero desde una dirección de la nube
#!wget https://bit.ly/ks-pds-csv2 -O {files_loc}/T100_AIRLINES.csv

In [243]:
#!ls {files_loc}

In [257]:
#contents = !ls {files_loc}/*T100*

In [244]:
#contents

In [245]:
#!more {contents[0]}

In [246]:
#trafficDF = pd.read_csv(contents[0])

In [248]:
!pwd

/home/dsc/Documents/Week_04/Pandas

In [250]:
!ls

05_Introduction_to_PANDAS_Additional_Material  example.db
05_Introduction_to_PANDAS_Main_Notebook        excel_output.xls
05_Python_DS_PANDAS_1.ipynb		       T100_AIRLINES.csv
csv_output.xls

In [251]:
trafficDF = pd.read_csv('T100_AIRLINES.csv')

In [252]:
trafficDF.head()

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,Unnamed: 43
0,0.0,1.0,26543.0,76.0,76.0,0.0,0.0,3160.0,0.0,0.0,...,33,6,622,1,2020,1,1,7,L,NaN
1,0.0,1.0,26543.0,76.0,0.0,0.0,0.0,4360.0,0.0,0.0,...,493,6,622,1,2020,1,1,9,L,NaN
2,0.0,1.0,7198.0,16.0,2.0,0.0,0.0,3925.0,0.0,0.0,...,21,6,667,1,2020,1,1,8,L,NaN
3,0.0,1.0,7198.0,16.0,2.0,0.0,0.0,3925.0,0.0,0.0,...,429,6,667,1,2020,1,1,8,L,NaN
4,0.0,1.0,17079.0,92.0,0.0,0.0,0.0,3896.0,0.0,0.0,...,63,6,622,1,2020,1,1,8,L,NaN

In [253]:
len(trafficDF)

31482

In [263]:
trafficDF.head(1000).to_excel(os.path.join(files_loc,'excel_output.xls'))

In [264]:
!ls {files_loc}

excel_output.xls  s3.pkl  T100_AIRLINES.csv

In [265]:
trafficDF.head(100).to_csv(os.path.join(files_loc, 'csv_output.xls'))

In [268]:
import sqlite3
conn = sqlite3.connect(os.path.join(files_loc,'example.db'))

In [269]:
trafficDF.to_sql('traffic',conn,if_exists='replace')

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [270]:
!ls -al {files_loc}/example.db

-rw------- 1 root root 7315456 Dec 12 12:51 /content/gdrive/MyDrive/pdsfiles/example.db

In [271]:
#Pasamos a un dictionary
trafficDF.head(2).to_dict(orient='records')

[{'AIRCRAFT_CONFIG': 1,
  'AIRCRAFT_GROUP': 6,
  'AIRCRAFT_TYPE': 622,
  'AIRLINE_ID': 21040.0,
  'AIR_TIME': 0.0,
  'CARRIER': '02Q',
  'CARRIER_GROUP': 0,
  'CARRIER_GROUP_NEW': 0.0,
  'CARRIER_NAME': 'Titan Airways',
  'CLASS': 'L',
  'DEPARTURES_PERFORMED': 1.0,
  'DEPARTURES_SCHEDULED': 0.0,
  'DEST': 'MCO',
  'DEST_AIRPORT_ID': 13204,
  'DEST_AIRPORT_SEQ_ID': 1320402,
  'DEST_CITY_MARKET_ID': 31454,
  'DEST_CITY_NAME': 'Orlando, FL',
  'DEST_COUNTRY': 'US',
  'DEST_COUNTRY_NAME': 'United States',
  'DEST_WAC': 33,
  'DISTANCE': 3160.0,
  'DISTANCE_GROUP': 7,
  'FREIGHT': 0.0,
  'MAIL': 0.0,
  'MONTH': 1,
  'ORIGIN': 'TER',
  'ORIGIN_AIRPORT_ID': 15174,
  'ORIGIN_AIRPORT_SEQ_ID': 1517403,
  'ORIGIN_CITY_MARKET_ID': 32946,
  'ORIGIN_CITY_NAME': 'Lajes, Portugal',
  'ORIGIN_COUNTRY': 'PT',
  'ORIGIN_COUNTRY_NAME': 'Portugal',
  'ORIGIN_WAC': 469,
  'PASSENGERS': 76.0,
  'PAYLOAD': 26543.0,
  'QUARTER': 1,
  'RAMP_TO_RAMP': 0.0,
  'REGION': 'I',
  'SEATS': 76.0,
  'UNIQUE_CARRIER': '02Q',
  'UNIQUE_CARRIER_ENTITY': '71004',
  'UNIQUE_CARRIER_NAME': 'Titan Airways',
  'Unnamed: 43': nan,
  'YEAR': 2020},
 {'AIRCRAFT_CONFIG': 1,
  'AIRCRAFT_GROUP': 6,
  'AIRCRAFT_TYPE': 622,
  'AIRLINE_ID': 21040.0,
  'AIR_TIME': 0.0,
  'CARRIER': '02Q',
  'CARRIER_GROUP': 0,
  'CARRIER_GROUP_NEW': 0.0,
  'CARRIER_NAME': 'Titan Airways',
  'CLASS': 'L',
  'DEPARTURES_PERFORMED': 1.0,
  'DEPARTURES_SCHEDULED': 0.0,
  'DEST': 'STN',
  'DEST_AIRPORT_ID': 15018,
  'DEST_AIRPORT_SEQ_ID': 1501806,
  'DEST_CITY_MARKET_ID': 30730,
  'DEST_CITY_NAME': 'London, United Kingdom',
  'DEST_COUNTRY': 'GB',
  'DEST_COUNTRY_NAME': 'United Kingdom',
  'DEST_WAC': 493,
  'DISTANCE': 4360.0,
  'DISTANCE_GROUP': 9,
  'FREIGHT': 0.0,
  'MAIL': 0.0,
  'MONTH': 1,
  'ORIGIN': 'MCO',
  'ORIGIN_AIRPORT_ID': 13204,
  'ORIGIN_AIRPORT_SEQ_ID': 1320402,
  'ORIGIN_CITY_MARKET_ID': 31454,
  'ORIGIN_CITY_NAME': 'Orlando, FL',
  'ORIGIN_COUNTRY': 'US',
  'ORIGIN_COUNTRY_NAME': 'United States',
  'ORIGIN_WAC': 33,
  'PASSENGERS': 0.0,
  'PAYLOAD': 26543.0,
  'QUARTER': 1,
  'RAMP_TO_RAMP': 0.0,
  'REGION': 'I',
  'SEATS': 76.0,
  'UNIQUE_CARRIER': '02Q',
  'UNIQUE_CARRIER_ENTITY': '71004',
  'UNIQUE_CARRIER_NAME': 'Titan Airways',
  'Unnamed: 43': nan,
  'YEAR': 2020}]

In [272]:
#Pasamos a un json
trafficDF.head(2).to_json(orient='records')

'[{"DEPARTURES_SCHEDULED":0.0,"DEPARTURES_PERFORMED":1.0,"PAYLOAD":26543.0,"SEATS":76.0,"PASSENGERS":76.0,"FREIGHT":0.0,"MAIL":0.0,"DISTANCE":3160.0,"RAMP_TO_RAMP":0.0,"AIR_TIME":0.0,"UNIQUE_CARRIER":"02Q","AIRLINE_ID":21040.0,"UNIQUE_CARRIER_NAME":"Titan Airways","UNIQUE_CARRIER_ENTITY":"71004","REGION":"I","CARRIER":"02Q","CARRIER_NAME":"Titan Airways","CARRIER_GROUP":0,"CARRIER_GROUP_NEW":0.0,"ORIGIN_AIRPORT_ID":15174,"ORIGIN_AIRPORT_SEQ_ID":1517403,"ORIGIN_CITY_MARKET_ID":32946,"ORIGIN":"TER","ORIGIN_CITY_NAME":"Lajes, Portugal","ORIGIN_COUNTRY":"PT","ORIGIN_COUNTRY_NAME":"Portugal","ORIGIN_WAC":469,"DEST_AIRPORT_ID":13204,"DEST_AIRPORT_SEQ_ID":1320402,"DEST_CITY_MARKET_ID":31454,"DEST":"MCO","DEST_CITY_NAME":"Orlando, FL","DEST_COUNTRY":"US","DEST_COUNTRY_NAME":"United States","DEST_WAC":33,"AIRCRAFT_GROUP":6,"AIRCRAFT_TYPE":622,"AIRCRAFT_CONFIG":1,"YEAR":2020,"QUARTER":1,"MONTH":1,"DISTANCE_GROUP":7,"CLASS":"L","Unnamed: 43":null},{"DEPARTURES_SCHEDULED":0.0,"DEPARTURES_PERFORMED":1.0,"PAYLOAD":26543.0,"SEATS":76.0,"PASSENGERS":0.0,"FREIGHT":0.0,"MAIL":0.0,"DISTANCE":4360.0,"RAMP_TO_RAMP":0.0,"AIR_TIME":0.0,"UNIQUE_CARRIER":"02Q","AIRLINE_ID":21040.0,"UNIQUE_CARRIER_NAME":"Titan Airways","UNIQUE_CARRIER_ENTITY":"71004","REGION":"I","CARRIER":"02Q","CARRIER_NAME":"Titan Airways","CARRIER_GROUP":0,"CARRIER_GROUP_NEW":0.0,"ORIGIN_AIRPORT_ID":13204,"ORIGIN_AIRPORT_SEQ_ID":1320402,"ORIGIN_CITY_MARKET_ID":31454,"ORIGIN":"MCO","ORIGIN_CITY_NAME":"Orlando, FL","ORIGIN_COUNTRY":"US","ORIGIN_COUNTRY_NAME":"United States","ORIGIN_WAC":33,"DEST_AIRPORT_ID":15018,"DEST_AIRPORT_SEQ_ID":1501806,"DEST_CITY_MARKET_ID":30730,"DEST":"STN","DEST_CITY_NAME":"London, United Kingdom","DEST_COUNTRY":"GB","DEST_COUNTRY_NAME":"United Kingdom","DEST_WAC":493,"AIRCRAFT_GROUP":6,"AIRCRAFT_TYPE":622,"AIRCRAFT_CONFIG":1,"YEAR":2020,"QUARTER":1,"MONTH":1,"DISTANCE_GROUP":9,"CLASS":"L","Unnamed: 43":null}]'

In [274]:
df6 = pd.read_excel(os.path.join(files_loc,'excel_output.xls'))

In [275]:
df6.head()

   Unnamed: 0  DEPARTURES_SCHEDULED  ...  CLASS  Unnamed: 43
0           0                     0  ...      L          NaN
1           1                     0  ...      L          NaN
2           2                     0  ...      L          NaN
3           3                     0  ...      L          NaN
4           4                     0  ...      L          NaN

[5 rows x 45 columns]